body, html {
  background: antiquewhite;
}
.dice-container {
  background: #FFF;
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 20px;
}

.dice {
  width: 100px;
  height: 100px;
  margin: 5px;
  padding: 5px;
}